.this {
  max-width: 400px;
  margin: 1em;

  @media (min-width: 500px) {
    max-width: 400px;
    margin: 5em auto;
  }

  h1 {
    font-family: 'Bowlby One SC', cursive;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    color: white;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }

  nz-card {
    opacity: 0.97;
  }

  nz-form-label {
    padding-bottom: 0;
  }

  nz-form-item {
    margin-bottom: 0.6em;
  }

  button {
    width: 100%;
    margin-top: 1em;
  }
}
