/* You can add global styles to this file, and also import other style files */

* {
  transition: all 300ms;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', Roboto, "Helvetica Neue", sans-serif;
  background: radial-gradient(circle at center center, rgb(225, 137, 68),rgb(101, 40, 15));
}
